<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Vue using CDN -->
  <script src="https://unpkg.com/vue@next"></script>

  <title>Add Trip</title>
</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #05c8f7;"
    aria-label="Second navbar example">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="Tools/Toolpage.html">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-black" aria-current="page" href="billbuddy.html">BillBuddy</a>
          </li>
        </ul>
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <a href="#"><img src="logo\itiner-easy.svg"  style="width: 100px; height: 100px; margin-top: -15px;"
            alt="itiner-easy logo"></a>
        </div>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link rounded"
              style="background-color: white; color: #05c8f7; padding-left: 20px; padding-right: 20px;"
              href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <div class="text-center my-5">
      <h1>New Trip</h1>
    </div>
    <form>
      <div class='container col-6 px-5 py-3' style="background-color: #d9d9d9; border-radius: 10px;">
        <div class='row justify-content-center'>
          <div class='col-6'>
            <h3>Trip Name:</h3>
            <input type="text" placeholder="Trip Name" name="tripName" id="tripName" class="form-control">
            <br>
            <h3>Names:</h3>
            <input style="margin-bottom: 10px;" type="text" placeholder="Person 1" id="person1" class="form-control">
            <span id="personNames"></span>
          </div>
          <div class='col-6'>
            <h3>No of People:</h3>
            <select name="numPeople" id="numPeople" class="form-control" onchange="updateNumNames(this.value)">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-primary btn-lg btn-block"
            style="background-color: #05c8f7; border: none;" onclick="submitTrip()">Continue</button>
        </div>
      </div>
    </form>
    <script>
      function updateNumNames(number) {
        let i = 1;
        str = "";
        while (i < number) {
          str += "<input style='margin-bottom: 10px;' type='text' placeholder='Person " + (i + 1) + "' id='person" + (i + 1) + "' class='form-control'>";
          i++;
        }
        document.getElementById("personNames").innerHTML = str;
      }

      function submitTrip() {
        let tripName = document.getElementById("tripName").value;
        let numPeople = document.getElementById("numPeople").value;
        let personNames = [];
        for (i = 1; i <= numPeople; i++) {
          personNames.push(document.getElementById("person" + (i)).value);
        }

        // Store the value in localStorage
        localStorage.setItem('tripName', tripName);
        localStorage.setItem('numPeople', numPeople);
        localStorage.setItem('personNames', personNames);

        // Redirect to the second page
        window.location.href = 'edittrip.html';
      }
    </script>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>