<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Vue using CDN -->
  <script src="https://unpkg.com/vue@next"></script>

  <title>BillBuddy</title>


</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #05c8f7;"
    aria-label="Second navbar example">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="Tools/Toolpage.html">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-black" aria-current="page" href="billbuddy.html">BillBuddy</a>
          </li>
        </ul>
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <a href="#"><img src="logo\itiner-easy.svg" style="width: 100px; height: 100px; margin-top: -15px;"
              alt="itiner-easy logo"></a>
        </div>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link rounded"
              style="background-color: white; color: #05c8f7; padding-left: 20px; padding-right: 20px;"
              href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div style="margin-left: 30px; margin-top: 30px;">
    <h1>Current Trips</h1>
    <h7>No trips at the moment</h7>
    <br><br>
    <a href="addtrip.html" style="color: gray;">Add a Trip Now!</a>
  </div>

  <!-- functions for billbuddy -->
  <div>
    <div class="text-center my-5">
      <h1>New Trip</h1>
    </div>
    <div>
      <!-- get input for tripName -->
      <h3>Trip Name:</h3>
      <input type="text" placeholder="Trip Name" name="tripName" id="tripName" class="form-control">
      <br>

      <!-- get input for budget -->
      <h3>Budget:</h3>
      <input type="number" placeholder="Budget" name="budget" id="budget" class="form-control">
      <br>

      <!-- get input for expense -->
      <h3>Expense Name:</h3>
      <input type="text" placeholder="Expense Name" name="expenseName" id="expenseName" class="form-control">
      <br>

      <!-- get input for expense amount -->
      <h3>Expense Amount:</h3>
      <input type="number" placeholder="Expense Amount" name="expenseAmount" id="expenseAmount" class="form-control">
      <br>

      <!-- get input for peopleOwingNames -->
      <h3>People Owing Names:</h3>
      <input type="checkbox" id="peopleOwingNames" value="dom">
      <label for="dom">Dom</label><br>
      <input type="checkbox" id="peopleOwingNames" value="joe">
      <label for="joe">Joe</label><br>
      <input type="checkbox" id="peopleOwingNames" value="jane">
      <label for="jane">Jane</label><br>
      <br>

      <!-- get input for personOwedName -->
      <h3>Person Owed Name:</h3>
      <input type="text" placeholder="Person Owed Name" name="personOwedName" id="personOwedName" class="form-control">
      <br>

      <!-- submit button -->
      <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #05c8f7; border: none;"
        onclick="addExpense()">Submit</button>

      <!-- breakeven button -->
      <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #05c8f7; border: none;"
        onclick="breakeven()">Breakeven</button>

    </div>
    <script>
      // write a function to get the trip name from the user
      function getTripName() {
        var tripName = document.getElementById("tripName").value;
        return tripName;
      }

      // write a function to get the budget of the trip from the user
      function getBudget() {
        var budget = document.getElementById("budget").value;
        return budget;
      }

      // write a function to get the name of expense from the user
      function getExpenseName() {
        var expenseName = document.getElementById("expenseName").value;
        return expenseName;
      }

      // write a function to get the amount of expense from the user
      function getExpenseAmount() {
        var expenseAmount = Number(document.getElementById("expenseAmount").value);
        return expenseAmount;
      }

      // write a function to get the names of people owing money from the user
      function getPeopleOwingNames() {
        let arr = [];
        let checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
        for (let i = 0; i < checkboxes.length; i++) {
          arr.push(checkboxes[i].value)
        }
        return arr;
      }

      // write a function to get the amount of money owed from the user by each person
      function getPeopleOwingAmount() {
        var totalAmount = getExpenseAmount();
        var peopleOwingNames = getPeopleOwingNames();
        var peopleOwingAmount = Number((totalAmount / peopleOwingNames.length).toFixed(2));
        return peopleOwingAmount;
      }


      // write a function to get the name of person who is owed money from the user
      function getPersonOwedName() {
        var personOwedName = document.getElementById("personOwedName").value;
        return personOwedName;
      }

      var data = {
        food: 100,
        travel: 200
      }

      var whoOweswho = {
        dom: 500,
        joe: -500
      }

      function getExpense() {
        var tripName = getTripName();
        var budget = getBudget();
        var expenseName = getExpenseName();
        var expenseAmount = getExpenseAmount();
        var peopleOwingNames = getPeopleOwingNames();
        var personOwedName = getPersonOwedName();
        var peopleOwingAmount = getPeopleOwingAmount();
        var expenseData = {
          tripName: tripName,
          budget: budget,
          expenseName: expenseName,
          expenseAmount: expenseAmount,
          peopleOwingNames: peopleOwingNames,
          personOwedName: personOwedName,
          peopleOwingAmount: peopleOwingAmount
        };
        return expenseData;
      }

      function addExpense() {
        var expense = getExpense();
        console.log(expense);
        console.log(data);
        console.log(expense.expenseAmount);
        console.log(expense.expenseName);

        if (expense.expenseName in data) {
          data[expense.expenseName] += expense.expenseAmount;
          console.log("in if");
        } else {
          data[expense.expenseName] = expense.expenseAmount;
          console.log("in else");
        }
        console.log(data);

        for (i=0; i<expense.peopleOwingNames.length; i++) {
          console.log(expense.peopleOwingNames[i]);
          if (expense.peopleOwingNames[i] in whoOweswho) {
            whoOweswho[expense.peopleOwingNames[i]] += expense.peopleOwingAmount;
            console.log("in if");
          } else {
            whoOweswho[expense.peopleOwingNames[i]] = expense.peopleOwingAmount;
            console.log("in else");
          }
        }
        if (expense.personOwedName in whoOweswho) {
          whoOweswho[expense.personOwedName] -= expense.expenseAmount;
          console.log("in if");
        } else {
          whoOweswho[expense.personOwedName] = -expense.expenseAmount;
          console.log("in else");
        }
        console.log(whoOweswho);
      }

      // write a function to breakeven expenses from whoOweswho variable
      function breakeven() {
        console.log(whoOweswho);
        for (var key in whoOweswho) {
          if (whoOweswho[key] > 0) {
            console.log(key + " owes " + whoOweswho[key]);
          } else if (whoOweswho[key] < -0.011) {
            console.log(key + " is owed " + -whoOweswho[key]);
          } else {
            console.log(key + " is breakeven");
          }

          while (whoOweswho[key] > 0) {
            for (var key2 in whoOweswho) {
              if (whoOweswho[key2] < 0) {
                if (whoOweswho[key] > -whoOweswho[key2]) {
                  console.log(key + " pays " + -whoOweswho[key2] + " to " + key2);
                  whoOweswho[key] += whoOweswho[key2];
                  whoOweswho[key2] = 0;
                } else {
                  console.log(key + " pays " + whoOweswho[key] + " to " + key2);
                  whoOweswho[key2] += whoOweswho[key];
                  whoOweswho[key] = 0;
                }
              }
            }
          }
        }
      }

    </script>
  </div>
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>