
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<!-- Vue using CDN -->
<script src="https://unpkg.com/vue@next"></script><script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrtlMuj3mZnI5NGVkgw5ME1hZL-XEtRzI&libraries=places&callback=initMap"></script>

<style>
    .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('contrasticon.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 25px;
  border: 0;
  background: url('contrasticon.png');
  cursor: pointer;
}
.Mainbody{
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #d9d9d9 ;
}
#sliderVal{
    margin-left: 10px;
    margin-right: 10px;
}
</style>
<body>

    <!-- display google maps using api-->
    <div id="selectplaces">
        <!-- checkbox -->

    </div>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #05c8f7;"
    aria-label="Second navbar example">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="Tools/Toolpage.html">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="billbuddy.html">BillBuddy</a>
          </li>
        </ul>
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <a href="#"><img src="logo\itiner-easy.svg"  style="width: 100px; height: 100px; margin-top: -15px;"
            alt="itiner-easy logo"></a>
        </div>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link rounded"
              style="background-color: white; color: #05c8f7; padding-left: 20px; padding-right: 20px;"
              href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="Mainbody">


    <h7>Which City do you want to go to?</h7><input type="text" id="country" name="City">
    <div class="slidecontainer">
        For many days?
        <input id="slider" type="range" min="1" max="3" step="1" oninput="sliderChange(this.value)">
        <div class="SliderValue">

        </div>
        <output id="sliderVal">
            2
        </output>  
    
    </div>


</br>

    What kind of person are you?
</br>
<input type="radio" id="Indoor" name="outgoing" value="Indoor">
<label for="Indoor">Indoor</label>
<input type="radio" id="Outdoor" name="outgoing" value="Outdoor">
<label for="Outdoor">Outdoor</label>
<input type="radio" id="Both" name="outgoing" value="Both">
<label for="Both">I'm fine with either!</label>


</br>
    How will you be getting around?</br> <input type="radio" id="car" name="Transport" value="DRIVING">
    <label for="car">Car</label>
    <input type="radio" id="Public Transport" name="Transport" value="TRANSIT">
    <label for="Public Transport">Public Transport</label>
    <input type="radio" id="Cycling" name ="Transport" value = "BICYCLING">
    <label for="Cycling">Bicycle</label>
    <input type="radio" id="walking" name="Transport" value="WALKING">
    <label for="walking">Walking</label>

</br>
    <button onclick="generateitinerary()">Generate Itinerary</button>
</div>
<div id="map"></div>

</body>

<script>
    function sliderChange(val) {
    document.getElementById('sliderVal').innerHTML = val;
    }


        // Replace with your API key

    // Function to search for attractions in a city
    function searchIndoorAttractions(city) {
    var city = document.getElementById("country").value;

    const request = {
        query: `Shopping malls and mueseums and aquariums in ${city}`,
        fields: ['name', 'formatted_address','types', 'business_status', 'location'],
    };


    const service = new google.maps.places.PlacesService(document.createElement('div'));
    const outdoorplaces = ['park','zoo','amusement_park',''];
    // const outdoor

    service.textSearch(request, (results, status) => {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
        for (const place of results) {
            console.log(`Name: ${place.name}`);
            console.log(`Address: ${place.formatted_address}`);
            console.log(`Types: ${place.types}`);
            console.log(`Business Status: ${place.business_status}`);
            console.log(`Location: ${place.geometry.location}`);
            console.log('---');
        }
        } else {
        console.error(`Error: ${status}`);
        }
    });
    }
    function searchBothAttractions(city) {
    var city = document.getElementById("country").value;

    const request = {
        query: `Tourist Attractions in ${city}`,
        fields: ['name', 'formatted_address','types', 'business_status', 'location'],
    };



    const service = new google.maps.places.PlacesService(document.createElement('div'));
    const outdoorplaces = ['park','zoo','amusement_park',''];
    // const outdoo

    service.textSearch(request, (results, status) => {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
            result = [];
        for (const place of results) {

            console.log(`Name: ${place.name}`);
            console.log(`Address: ${place.formatted_address}`);
            console.log(`Types: ${place.types}`);
            console.log(`Business Status: ${place.business_status}`);
            console.log(`Location: ${place.geometry.location}`);
            console.log('---');
            result.push(place.name);
        }
        //place results in checkbox
        for (var i = 0; i < result.length; i++) {
            var checkbox = document.createElement('input');
            checkbox.type = "checkbox";
            checkbox.name = "name";
            checkbox.value = "value";
            checkbox.id = "id";

            var label = document.createElement('label')
            label.htmlFor = "id";
            label.appendChild(document.createTextNode(result[i]));

            document.getElementById('selectplaces').appendChild(checkbox);
            document.getElementById('selectplaces').appendChild(label);
            document.getElementById('selectplaces').appendChild(document.createElement("br"));
        }
        }
         else {
        console.error(`Error: ${status}`);
        }
    });
    }



    function searchOutdoorAttractions(city) {
    var city = document.getElementById("country").value;

    const request = {
        query: `Outdoor Tourist Attractions in ${city}`,
        fields: ['name', 'formatted_address','types', 'business_status', 'location'],
    };



    const service = new google.maps.places.PlacesService(document.createElement('div'));
    const outdoorplaces = ['park','zoo','amusement_park',''];
    // const outdoo

    service.textSearch(request, (results, status) => {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
        for (const place of results) {
            console.log(`Name: ${place.name}`);
            console.log(`Address: ${place.formatted_address}`);
            console.log(`Types: ${place.types}`);
            console.log(`Business Status: ${place.business_status}`);
            console.log(`Location: ${place.geometry.location}`);
            console.log('---');
        }
        } else {
        console.error(`Error: ${status}`);
        }
    });
    }



  //   function gettraveltime(origin,endpoint,travelmode){
  //   const directionsService = new google.maps.DirectionsService();
  //   const directionsRenderer = new google.maps.DirectionsRenderer({ map: map });
  //   var mode = document.getElementsByName("Transport");
    
  //   const request = {
  //   origin: origin,
  //   destination: destination,
  //   travelMode: google.maps.TravelMode[mode], // Convert mode  Maps enum

  // };      
  //   if (status === 'OK') {
  //     directionsRenderer.setDirections(result);
  //     const route = result.routes[0];
  //     const travelTime = route.legs[0].duration.text;
  //     console.log(`Travel time from ${origin} to ${destination} via ${mode}: ${travelTime}`);
  //   } else {
  //     console.error(`Error: ${status}`);
  //   }
  // })
  // };


async function getweather() {
    return new Promise(async (resolve, reject) => {
        var city = document.getElementById("country").value;
        var days = document.getElementById("sliderVal").value;

        // Replace your API call with an async/await call
        try {
            var weatherkey ="cfb27632a44746f6aaf01356231409";
            const response = await axios.get(
                'http://api.weatherapi.com/v1/forecast.json?key=' + weatherkey + '&q=' + city + '&days=' + days
            );
            console.log(response.data);

            var weather = response.data.forecast.forecastday;
            var weatherarray = [];

            for (var i = 0; i < weather.length; i++) {
                var weatherobj = {};
                weatherarray.push(weather[i].day.condition.text);
            }

            resolve(weatherarray);
        } catch (error) {
            reject(error);
        }
    });
}

function geteateriesnearby(){
    var geocoder = new google.maps.Geocoder();
    var postalCode = document.getElementById('location').value;
    geocoder.geocode({ address: postalCode }, function (results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      var location = results[0].geometry.location;
      var request = {
        location: location,
        radius: '500',
        type: ['restaurant'],
        componentRestrictions: { country: "sg" }
      };

      service = new google.maps.places.PlacesService(map);
      service.nearbySearch(request, callback);
    } else {
      console.error('Geocode was not successful for the following reason: ' + status);
    }
  });

  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        var place = results[i];
        console.log(place);
        checkOpenStatus(place.place_id, '12:00 PM'); // Change the time as needed
      }
    }
  }
}
function checkOpenStatus(placeId, checkTime) {
  var request = {
    placeId: placeId,
    fields: ['name', 'opening_hours'],
  };

  service.getDetails(request, function (place, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      var isOpenNow = false;

      if (place.opening_hours) {
        // Convert checkTime to a Date object
        var checkDate = new Date('2023-10-16 ' + checkTime);

        var openingHours = place.opening_hours;
        openingHours.periods.forEach(function (period) {
          if (
            checkDate >= new Date('2023-10-16 ' + period.open.time) &&
            checkDate <= new Date('2023-10-16 ' + period.close.time)
          ) {
            isOpenNow = true;
          }
        });
      }

      console.log(
        place.name + ' is open at ' + checkTime + ': ' + (isOpenNow ? 'Yes' : 'No')
      );
    }
  });
}



async function generateitinerary() {
    try {
        var weather = await getweather(); // Wait for getweather to finish
        console.log(weather);
        var preferences = document.querySelector('input[name="outgoing"]:checked').value;
        var transport = document.querySelector('input[name="Transport"]:checked').value;
        var usedattractions = [];
        var itinerary = [];
        var city = document.getElementById("country").value;
        var days = document.getElementById("sliderVal").value;

        for (var i = 0; i < weather.length; i++) {
            if (weather[i].indexOf("Rain") >= 0 || weather[i].indexOf("hazy") >= 0) {
                var all_attractions = searchIndoorAttractions();
                var possibleattractions = [];
                //go through used attractions and if it is not in the all attractions list, add it to the possible attractions list
                for (var j = 0; j < all_attractions.length; j++) {
                    if (usedattractions.indexOf(all_attractions[j]) < 0) {
                        possibleattractions.push(all_attractions[j]);
                    }
                }
                var randomattraction = possibleattractions[Math.floor(Math.random() * possibleattractions.length)];
                itinerary.push(randomattraction);
                
                
            } else if (preferences == "Indoor") {
                searchIndoorAttractions();
            } else if (preferences == "Both") {
                searchBothAttractions();
            } else {
                searchOutdoorAttractions();
            }
        }
    } catch (error) {
        console.error("Error fetching weather data:", error);
    }
}
    
    function geteateriesnearby(location){
        var request = {
            location: location,
            radius: '500',
            type: ['restaurant']
          };
          
          service = new google.maps.places.PlacesService(map);
          service.nearbySearch(request, callback);
          
          function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
              for (var i = 0; i < results.length; i++) {
                var place = results[i];
                console.log(place);
              }
            }
          }
    }
    function initMap() {

    var pointA = new google.maps.LatLng(51.7519, -1.2578);
    var pointB = new google.maps.LatLng(50.8429, -0.1313);
    myOptions = {
      zoom: 7,
      center: pointA
    },
    map = new google.maps.Map(document.getElementById('map'), myOptions),
    // Instantiate a directions service.
    directionsService = new google.maps.DirectionsService,
    directionsDisplay = new google.maps.DirectionsRenderer({
      map: map
    }),
    markerA = new google.maps.Marker({
      position: pointA,
      title: "point A",
      label: "A",
      map: map
    }),
    markerB = new google.maps.Marker({
      position: pointB,
      title: "point B",
      label: "B",
      map: map
    });

  // get route from A to B
  calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

}



function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
  directionsService.route({
    origin: pointA,
    destination: pointB,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      console.log(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}


</script>
</html>