<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrtlMuj3mZnI5NGVkgw5ME1hZL-XEtRzI&callback=initMap">
    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrtlMuj3mZnI5NGVkgw5ME1hZL-XEtRzI&libraries=places"></script>

<body>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <div id="hungryvery">
        <input name="location" id="location" placeholder="Where are you?">

        </input>
        <button onclick="geteateriesnearby()">Hungry?</button>
    </div>
    <div id="isopen">
        <input name="time" id="time" placeholder="What time is it?">
        </input>
        <button onclick="checkOpenStatus()">Is it open?</button>
    </div>
</body>

    <script>
    

      function initMap() {

    var pointA = new google.maps.LatLng(51.7519, -1.2578);
    var pointB = new google.maps.LatLng(50.8429, -0.1313);
    myOptions = {
      zoom: 7,
      center: pointA
    },
    map = new google.maps.Map(document.getElementById('map'), myOptions),
    // Instantiate a directions service.
    directionsService = new google.maps.DirectionsService,
    directionsDisplay = new google.maps.DirectionsRenderer({
      map: map
    }),
    markerA = new google.maps.Marker({
      position: pointA,
      title: "point A",
      label: "A",
      map: map
    }),
    markerB = new google.maps.Marker({
      position: pointB,
      title: "point B",
      label: "B",
      map: map
    });

  // get route from A to B
  calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

}



function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
  directionsService.route({
    origin: pointA,
    destination: pointB,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      console.log(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

function geteateriesnearby(){
    var geocoder = new google.maps.Geocoder();
    var postalCode = document.getElementById('location').value;
    geocoder.geocode({ address: postalCode }, function (results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      var location = results[0].geometry.location;
      var request = {
        location: location,
        radius: '500',
        type: ['restaurant'],
      }
      var service = new google.maps.places.PlacesService(map);
      service.nearbySearch(request, callback);
    } else {
      console.error('Geocode was not successful for the following reason: ' + status);
    }})}; 
    function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < 5; i++) {
        var place = results[i];
        console.log(place);
        checkOpenStatus(place.place_id); // Change the time as needed
      }
    }
  }


//       service = new google.maps.places.PlacesService(map);
//       service.nearbySearch(request, callback);
//     } else {
//       console.error('Geocode was not successful for the following reason: ' + status);
//     }
//   });


//   function callback(results, status) {
//     if (status == google.maps.places.PlacesServiceStatus.OK) {
//       for (var i = 0; i < results.length; i++) {
//         var place = results[i];
//         console.log(place);
//         checkOpenStatus(place.place_id, '12:00 PM'); // Change the time as needed
//       }
//     }
//   }
// }
//convertime from int to 24hr time

convertime(955);
function convertime(time){
  // time = 940; //goal is to convert this to 1110

  act  = 90;
  addhour = Math.floor(act/60);
  addmin = act%60;
  formattime = time + addhour*100 + addmin;
  while(formattime % 100 > 59){
    formattime = formattime + (Math.floor(formattime/100))%60;
  }
  console.log(formattime);
}

function checkOpenStatus() {
  let checkTime = document.getElementById('time').value;
  var placeId = "ChIJMxZ-"; // Replace with your place ID
  var request = {
    placeId: placeId,
    fields: ['name', 'opening_hours'],
  };

  var service = new google.maps.places.PlacesService(map); // Assuming 'map' is accessible


  
  service.getDetails(request, function (place, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      var isOpenNow = false;

      if (place.opening_hours) {
        // Convert checkTime to a Date object for the specific date you want to check
        var checkDate = new Date('2023-10-19');
        var day = checkDate.getDay();
        console.log(place);
        console.log(day);
        console.log(place.opening_hours);
        var openingHours = place.opening_hours;
        console.log(openingHours.periods[0].open.time);
        let openTime = openingHours.periods[day].open.time;
        openTime = parseInt(openTime);
        console.log(openTime);
        checkTime = parseInt(checkTime);
        let closeTime = openingHours.periods[day].close.time;
        closeTime = parseInt(closeTime);
        console.log(closeTime);
        
        // console.log(openingHours.periods.close.time);
        if (openTime <= checkTime && (closeTime >= checkTime || closeTime <= openTime)) {
          isOpenNow = true;
        }
      }

      console.log(
        place.name + ' is open at ' + checkTime + ': ' + (isOpenNow ? 'Yes' : 'No')
      );
    } else {
      console.error(`Error: ${status}`);
    }
  });
}

      
</script>
</html>