<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<title>Tools</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<!-- Vue using CDN -->
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
  
    table{
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    .pad{
      background-color: #d9d9d9;
    }
    .background{
      background-color: white;
    }
    #treedayforecast{
      width:100%;
      background-color: white;
    }
    .card{
      border-radius: 10px;
      background-color: #d9d9d9;

    }
</style>
<body onload="getitemsonload()">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #05c8f7;"
    aria-label="Second navbar example">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="Toolpage.html">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="../billbuddy.html">BillBuddy</a>
          </li>
        </ul>
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <a href="#"><img src="..\logo\itiner-easy.svg"  style="width: 100px; height: 100px; margin-top: -15px;"
            alt="itiner-easy logo"></a>
        </div>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link rounded"
              style="background-color: white; color: #05c8f7; padding-left: 20px; padding-right: 20px;"
              href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row text-center">
    

                <div class= "col-3 pad"style="margin-left: 15px; margin-top: 15px;">
                  <div class="card">
                    <h3>Weather Forecast</h3>
                    <h7>Which city are you heading to?</h7>
                    <br><br><br>
                    <input type="text" id="country" name="country" placeholder="City" >
                    <br><br>
                    <button onclick="getforecast()">Get Forecast</button>
                <div id="treedayforecast">


                </div>
              </div>
                </div>

                <div class="col-4 pad" style="margin-left: 15px; margin-top: 15px;">
                  <div class="card">
                    <h3>Language Translator</h3>
                    <h7>What language are you typing?</h7>
                    <br><br>
                    <label for="languages">List of Languages:</label>
                    <select name="inputlanguage" id="inputlanguage">

                    </select>
                    <br><br>
                    <label for="text">Text to translate:</label>
                    <br>
                    <textarea class="form-control" id="text" name="text" rows="3" cols="30" onchange="translateit()"></textarea>
                    <br><br>
                    <h7>Which language do you want to translate to?</h7>
                    <br><br>
                      <label for="languages">List of Languages:</label>
                          <select name="language" id="outputlanguage">

                          </select>
                    <br><br>
                    <button onclick="translateit()">Translate</button>
                    <br><br>

                    <div id="translatedtext" class="background">
                    </div>
                </div>
              </div>




                <div class="col-4 pad" style="margin-left: 15px; margin-top: 15px;">
                  <div class="card">
                    <h3>Currency Converter</h3>
                    <h7>Which Currency do you want to convert to?</h7>
                    <br><br>
                    <label for="currencylist">Which currency are you using?</label>
                        <select name="currencylist" id="currencylist" @onchange="convertit">

                        </select>
                    <br><br>
                    <label for="text">Amount</label>
                    <br>
                    <input type="number" id="moneymoneyahhhhh" @onchange="convertit"></input>
                    <label for="currencylist">What do you want to convert to?</label>
                    <select name="currencylisttoconvert" id="currencylisttoconvert" @onchange="convertit()">

                    </select>
                    <br><br>
                    <button onclick="convertit()">Convert</button>
                    <br><br>
                    <h7>Converted amount</h7>
                    <br><br>
                    <div id="convertedmoney">
                        
                    </div>
                  </div>
                </div>







</div>




  <script>
    function getforecast(){
        var country = document.getElementById("country").value;
        console.log(country);
        key ="cfb27632a44746f6aaf01356231409";
        axios.get('http://api.weatherapi.com/v1/forecast.json?key='+key+'&q='+country+'&days=3')
        .then(function(response) {
            console.log(response.data);
            var weather = response.data.forecast.forecastday;
            var weatherarray = [];
            for(var i=0;i<weather.length;i++){
                var weatherobj = {};
                weatherobj.date = weather[i].date;
                weatherobj.maxtemp = weather[i].day.maxtemp_c;
                weatherobj.mintemp = weather[i].day.mintemp_c;
                weatherobj.avgtemp = weather[i].day.avgtemp_c;
                weatherobj.condition = weather[i].day.condition.text;
                weatherarray.push(weatherobj);
            }
            console.log(weatherarray);
            var weatherdiv = document.getElementById("treedayforecast");
            var html =""
            html = "<table><tr><th>Date</th><th>Max Temp</th><th>Min Temp</th><th>Avg Temp</th><th>Condition</th></tr>";
            for(var i=0;i<weatherarray.length;i++){
                html += "<tr><td>"+weatherarray[i].date+"</td><td>"+weatherarray[i].maxtemp+"</td><td>"+weatherarray[i].mintemp+"</td><td>"+weatherarray[i].avgtemp+"</td><td>"+weatherarray[i].condition+"</td></tr>";
            }
            html += "</table>";
            weatherdiv.innerHTML = html;



        })
        .catch(function(error){
            console.log(error);
        })

    }
    function getitemsonload(){
        getlanguages();
        getcurrencylist();
    }
    function getlanguages(){
        var key ="AIzaSyCjKtOTNCtEK5MYtW-GrP5QUiCj72PCT9Q";
        //googlecloudtranslator api
        axios.get('https://translation.googleapis.com/language/translate/v2/languages?key='+key+'&target=en')
        .then(function(response) {
            console.log(response.data);
            var languages = response.data.data.languages;
            var languagesdiv = document.getElementById("inputlanguage");
            var languagesdiv2 = document.getElementById("outputlanguage");
            var html = "";
            for(var i=0;i<languages.length;i++){
                html += "<option value="+languages[i].language+">"+languages[i].name+"</option>";
            }
            languagesdiv.innerHTML = "<option value=detect> Detect Language</option>" + html;
            languagesdiv2.innerHTML = html;

        })
        .catch(function(error){
            console.log(error);
        })
    }
    function translateit(){
        var text = document.getElementById("text").value;
        var inputlang = document.getElementById("inputlanguage").value;
        var language = document.getElementById("outputlanguage").value;
        console.log(text);
        console.log(language);
        var key ="AIzaSyCjKtOTNCtEK5MYtW-GrP5QUiCj72PCT9Q";
        if(inputlang="detect"){
            axios.get('https://translation.googleapis.com/language/translate/v2?key='+key+'&q='+text+'&target='+language )
        .then(function(response) {
            console.log(response.data);
            var translatedtext = response.data.data.translations[0].translatedText;
            console.log(translatedtext);
            var textdiv = document.getElementById("translatedtext");
            textdiv.innerHTML = translatedtext;
        })
        }
        else{
        var inputlang = document.getElementById("inputlanguage").value;
        axios.get('https://translation.googleapis.com/language/translate/v2?key='+key+'&q='+text+'&target='+language + '&source='+inputlang)
        .then(function(response) {
            console.log(response.data);
            var translatedtext = response.data.data.translations[0].translatedText;
            console.log(translatedtext);
            var textdiv = document.getElementById("translatedtext");
            textdiv.innerHTML = translatedtext;
        })
    }
  }
    function getcurrencylist(){
      var url= 'https://currency-converter5.p.rapidapi.com/currency/list';
      var XRapidAPIKey= '2f0bfe79abmsh886342ca61bbf11p1e6dd8jsna7f5de5249b0';
      var XRapidAPIHost= 'currency-converter5.p.rapidapi.com';
      axios.get(url, {
        headers: {
          'x-rapidapi-key': XRapidAPIKey,
          'x-rapidapi-host': XRapidAPIHost
        }
      })
      .then(function(response) {
        console.log(response.data);
        var currencylist = response.data.currencies;
        var currencylistdiv = document.getElementById("currencylist");
        var html = "";
        for(const [key, value] of Object.entries(currencylist)){
          html += "<option value="+key+">"+value+"</option>";
        }
        currencylistdiv.innerHTML = html;
        var currencylisttoconvertdiv = document.getElementById("currencylisttoconvert");
        var html = "";
        for(const [key, value] of Object.entries(currencylist)){
          html += "<option value="+key+">"+value+"</option>";
        }
        currencylisttoconvertdiv.innerHTML = html;
    
      })
  }
  function convertit(){

    var url= 'https://currency-converter5.p.rapidapi.com/currency/convert';
      var XRapidAPIKey= '2f0bfe79abmsh886342ca61bbf11p1e6dd8jsna7f5de5249b0';
      var XRapidAPIHost= 'currency-converter5.p.rapidapi.com';
      var amount = document.getElementById("moneymoneyahhhhh").value;
      var from = document.getElementById("currencylist").value;
      var to = document.getElementById("currencylisttoconvert").value;
      console.log(from);
      console.log(to);
      axios.get(url, {
        headers: {
          'x-rapidapi-key': XRapidAPIKey,
          'x-rapidapi-host': XRapidAPIHost
        },
        params: {
          amount: amount,
          from: from,
          to: to
        }
      })
      .then(function(response) {
        console.log(response.data);
        var convertedmoney = response.data.rates[to].rate_for_amount;
        var convertedmoneydiv = document.getElementById("convertedmoney");
        var html = "<h7>"+convertedmoney+"</h7>";
        convertedmoneydiv.innerHTML = html;

      })
  }

    

  </script>
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>


</body>
</html>